Nimbler.xcodeproj/project.xcworkspace/xcuserdata/john.xcuserdatad/UserInterfaceState.xcuserstate
Nimbler.xcodeproj/xcuserdata/john.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Nimbler.xcodeproj/project.xcworkspace/xcuserdata/jaykumbhani.xcuserdatad/UserInterfaceState.xcuserstate
Nimbler.xcodeproj/xcuserdata/jaykumbhani.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
.DS_Store
"Network Commuting"/.DS_Store
